.env
node_modules
dist
build
web-build


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#VSCodeCounter
details.md
results.csv
results.md
results.txt